/*

  ## TABLE OF CONTENTS

  1. carousel
  2. popup
  3. aos animate
  4. theme grid & reset
  5. sections
  6. social
  7. buttons
  8. header
  9. section partials
  10. footer
  11. extras

*/





@media (min-width:1200px) {
  

.roadmap__item {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px
}

.roadmap__item:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 12.5px;
  width: 1px;
  height: 100%;
  border-left: 2px dashed #00b0ba
}

.roadmap__item_title {
  color: #333;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: 10px
}

.roadmap__item-text {
  font-size: 16px;
  color: #777;
  line-height: 20px
}

.roadmap__item_marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #00b0ba;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  background-color: #fff
}

.roadmap__item:last-child:after {
  display: none
}

.roadmap__item--active .roadmap__item_marker {
  width: 30px;
  height: 30px;
  left: -2.5px
}

.roadmap__item--active .roadmap__item_marker:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #00b0ba;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.roadmap__item__past .roadmap__item_marker {
  border: 2px solid #f2718b
}

.roadmap__item__past .roadmap__item_marker:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f2718b;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.roadmap__item__past:after {
  width: 2px;
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5ab0), to(#00b0ba));
  background-image: -webkit-linear-gradient(top, #fe5ab0 0, #00b0ba 100%);
  background-image: -o-linear-gradient(top, #fe5ab0 0, #00b0ba 100%);
  background-image: linear-gradient(to bottom, #fe5ab0 0, #00b0ba 100%)
}

@media (min-width:768px) {
  .map {
    padding-bottom: 40px
  }
  .map__figure-1, .map__figure-2 {
    display: block
  }
  .roadmap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .roadmap__item {
    width: -webkit-calc(50% - 15px);
    width: calc(50% - 15px)
  }
  .roadmap__item {
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 0
  }
  .roadmap__item:after {
    width: 100%;
    border: none;
    border-top: 1px dashed #557ef8;
    top: 65px;
    border: auto;
    right: -50%;
    height: 2px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
  }
  .roadmap__item:nth-child(2n):after {
    display: none
  }
  .roadmap__item_title {
    margin-bottom: 24px
  }
  .roadmap__item_marker {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 80px
  }
  .roadmap__item_marker:before {
    content: '';
    position: absolute;
    top: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 50px;
    background-color: rgba(182, 183, 183, .5)
  }
  .roadmap__item__past:after {
    top: 64px;
    background-image: -webkit-gradient(linear, left top, right top, from(#fe5ab0), to(#00b0ba));
    background-image: -webkit-linear-gradient(left, #fe5ab0 0, #00b0ba 100%);
    background-image: -o-linear-gradient(left, #fe5ab0 0, #00b0ba 100%);
    background-image: linear-gradient(to right, #fe5ab0 0, #00b0ba 100%)
  }
}

@media (min-width:992px) {
  .map {
    padding-bottom: 90px
  }
  .map__bg {
    display: block
  }
  .roadmap__item {
    width: -webkit-calc(33.3333% - 15px);
    width: calc(33.3333% - 15px)
  }
  .roadmap__item:nth-child(2n):after {
    display: block
  }
  .roadmap__item:nth-child(3n):after {
    display: none
  }
  .roadmap__item:last-child:after {
    display: none
  }
}

@media (min-width:992px) {
  .roadmap__item {
    width: -webkit-calc(20% - 15px);
    width: calc(20% - 15px)
  }
  .roadmap__item:nth-child(5n):after {
    display: none
  }
  .roadmap__item:nth-child(3n):after {
    display: block
  }
  .roadmap__item:last-child:after {
    display: none
  }
}



